<a href="https://colab.research.google.com/github/bwilli2086/data_analytics/blob/main/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
list=range(0,5)

## 2.	Print out those variables by using a for loop

In [ ]:
list=range(1,6)
for int in list:
  print(int)

0
1
2
3
4

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
list=range(1,6)
for int in list:
  print(int , "Potato\n")

1 Potato

2 Potato

3 Potato

4 Potato

5 Potato

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
list=range(0,20,2)
for int in list:
  print(int)

0
2
4
6
8
10
12
14
16
18

## 5.	Sort your list in alphabetic order.

In [ ]:
list=["pineapple","apple","grapes","banana","cherry"]
print(sorted(list))

['apple', 'banana', 'cherry', 'grapes', 'pineapple']

## 6.	Print out the first three elements of your list.

In [ ]:
list=["pineapple","apple","grapes","banana","cherry"]
print(list[:3])

['pineapple', 'apple', 'grapes']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
listx=["pineapple","apple","grapes","banana","cherry"]
for lastx in listx[3:]:
  print(lastx)

banana
cherry