<a href="https://colab.research.google.com/github/bwilli2086/data_analytics/blob/main/Python/Python_Basics_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON EXERCISE FOR PRACTICE**

**1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum**

number1 = 20

number2 = 30

In [ ]:
number1 = 20
number2 = 30
product=number1*number2
if product <=1000:
  print ("The product is: ",product)
else:
  sum=number1+number2
  print("The sum is: ",sum)

The product is:  600

**2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number.**

In [ ]:
numbers=range(10)
start=0
for answer in numbers:
  print("Number is: ",answer)
  sum =start+answer
  print ("Sum is: ",sum)
  start=answer

Number is:  0
Sum is:  0
Number is:  1
Sum is:  1
Number is:  2
Sum is:  3
Number is:  3
Sum is:  5
Number is:  4
Sum is:  7
Number is:  5
Sum is:  9
Number is:  6
Sum is:  11
Number is:  7
Sum is:  13
Number is:  8
Sum is:  15
Number is:  9
Sum is:  17

**3: In the string "pynative", display only those characters which are present at an even index number.**

In [ ]:
string="pynative"
for letter in even[0::2]:
  print(letter)

p
n
t
v

**4: In the string "pynative" remove characters from zero up to 5 and return a new string**

In [ ]:
string="pynative"
for letter in string[5:]:
  print(letter)

i
v
e

**5: Reverse numbers 121 and 125 and return true if it is the same as the original number.**

In [ ]:
number=121
print("Original number", number)
originalNum = number
reverseNum = 0
while (number > 0):
        reminder = number % 10
        reverseNum = (reverseNum * 10) + reminder
        number = number // 10
if (originalNum == reverseNum):
  print("The original and reverse number is the same")
else:
  print("The original and reverse number is not the same")

number=125
print("Original number", number)
originalNum = number
reverseNum = 0
while (number > 0):
        reminder = number % 10
        reverseNum = (reverseNum * 10) + reminder
        number = number // 10
if (originalNum == reverseNum):
  print("The original and reverse number is the same")
else:
  print("The original and reverse number is not the same")

Original number 121
The original and reverse number is the same
Original number 125
The original and reverse number is not the same

**6: Given two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.**

1.  List 1  [10, 20, 23, 11, 17]
2.  List 2  [13, 43, 24, 36, 12]

In [ ]:
listOne = [10, 20, 23, 11, 17]
listTwo = [13, 43, 24, 36, 12]
listthree=[]
for num in listOne:
  if (num % 2 != 0):
    listthree.append(num)
for num in listTwo:
  if (num % 2 == 0):
    listthree.append(num)
print (listthree)

[23, 11, 17, 24, 36, 12]

**7: Write a code to extract each digit from the integer 7536  in the reverse order**

In [5]:
num=7536
reversed = int(str(num)[::-1])
print(reversed)

6357

**8. What is the output of the following code?**

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2,"Scott")
print(sampleList)

1.   The program executed with errors

***9. What is the output of the following code?***

In [ ]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)


2. 25 
   125

**10. Display the following data using string.format() method and as a message**
* totalMoney = 1000
* quantity =3
* price = 450

In [ ]:
Message1="I have a total of ${totalmoney}".format(totalmoney = 1000)
Message2="I brought ${quantity}".format(quantity =3)
Message3="I paid ${price}".format(price = 450)
print(Message1)
print(Message2)
print(Message3)

**11: Print First 10 natural numbers using while loop**

In [ ]:
i=1
number=10
while ( i <= number):
    print (i, end = '  ')
    i = i + 1

1  2  3  4  5  6  7  8  9  10

**12.  Reverse the following list using for loop**

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
for reverselist in list1:
  print(reverselist)

50
40
30
20
10

**13: Display a message “Done” after successful execution of for loop**

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
for reverselist in list1:
  print(reverselist)
print("Done")

50
40
30
20
10
Done

**14. Use a loop to display elements from the given list (my_list) which are present at even positions**
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for mylist in my_list[0::2]:
  print(mylist)

10
30
50
70
90
Done

**15. Create a list of your favourite 5 fruits. Then**

Add 2 new fruits to the list
What's the length of your list now?
Remove any one fruit from the list
What's the new length of the list now?
Could you sort the list?

In [ ]:
fruits=["apple","banana","orange","cherry","blueberry"]
print("My favorite fruits are: " ,fruits)
print("I like a total of", len(fruits))
fruits.append("mango")
fruits.append("grapes")
print("I added 2 fruits to the list, so my favorite fruits are: " ,fruits)
print("I like a total of", len(fruits))
del fruits[0]
print("I deleted 1 fruit from the list, so my favorite fruits are: " ,fruits)
print("I like a total of", len(fruits))
fruits.sort()
print("My favorite fruits sorted are: " ,fruits)
print("I like a total of", len(fruits))

My favorite fruits are:  ['apple', 'banana', 'orange', 'cherry', 'blueberry']
I like a total of 5
I added 2 fruits to the list, so my favorite fruits are:  ['apple', 'banana', 'orange', 'cherry', 'blueberry', 'mango', 'grapes']
I like a total of 7
I deleted 1 fruit from the list, so my favorite fruits are:  ['banana', 'orange', 'cherry', 'blueberry', 'mango', 'grapes']
I like a total of 6
My favorite fruits sorted are:  ['banana', 'blueberry', 'cherry', 'grapes', 'mango', 'orange']
I like a total of 6